*.dep
*.zo
*.bak
Project1 Lexical Analysis/tests/
Project1 Lexical Analysis/error_tests/
Project2 Parsing/error_tests/
Project2 Parsing/tests/
Project2 Parsing/out.dot
Project2 Parsing/out.dot.png
*.zip
*.exe
*.out
Project2 Parsing/out.out.png
